<body>
  <h1>New song</h1>
  <%= form_for :song, url: songs_path do |f| %>
  <%= f.select(:artist_id, options_from_collection_for_select(@artists, :id, :name)) %>
    <p>
      <%= f.label :title %><br>
      <%= f.text_field :title %>
    </p>

    <p>
      <%= f.submit %>
    </p>
  <% end %>

  <% if @song.errors.any? %>
    <div class="alert alert-danger" role="alert">
      <h2><%= pluralize(@song.errors.count, "error") %>
        prohibited this artist from being saved:</h2>

      <ul>
      <% @song.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
</body>
