<h1>New song</h1>

<%= form_for :song, url: songs_path do |f| %>


  <%= f.select(:artist_id, options_from_collection_for_select(@artists, :id, :name)) %>

  <p>
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </p>

  <p>
    <%= f.submit %>
  </p>
<% end %>
