<h3><%= @song.title %></h3>

<h4><%= link_to @song.album.title, album_path(@song.album) %></h4>

<h4><%= link_to @song.album.artist.name, artist_path(@song.album.artist) %></h4>

<p>
<button id="delete-artist" type="button" class="btn btn-default artist-back-button">
  <%= link_to 'Back', :back, class: 'artist-buttons-text-color' %>
</button>
<button id="delete-artist" type="button" class="btn btn-danger">
  <%= link_to 'Delete', song_path, class: 'artist-buttons-text-color',
          method: :delete,
          data: { confirm: 'Are you sure?' } %>
</button>
</p>
