<h1>"<%= @song.title %>" Details</h1>

<table id="table-top-margin" class="table table-striped">
  <th>Album</th>
  <th>Artist</th>
  <tr>
    <td><i><%= link_to @song.album.title, album_path(@song.album) %></i></td>
    <td><%= link_to @song.album.artist.name, artist_path(@song.album.artist) %></td>
  </tr>
</table>

<p>
<button id="delete-artist" type="button" class="btn btn-default artist-back-button">
  <%= link_to 'Back', :back, class: 'artist-buttons-text-color' %>
</button>
<button id="delete-artist" type="button" class="btn btn-danger">
  <%= link_to 'Delete', song_path, class: 'artist-buttons-text-color',
          method: :delete,
          data: { confirm: 'Are you sure?' } %>
</button>
</p>
