<body>
  <h1>New album</h1>
  <%= form_for :album, url: albums_path do |f| %>
  <%= f.select(:artist_id, options_from_collection_for_select(@artists, :id, :name)) %>
    <p>
      <%= f.label :title %><br>
      <%= f.text_field :title %>
    </p>

    <p>
      <%= f.submit %>
    </p>
  <% end %>

  <% if @album.errors.any? %>
    <div class="alert alert-danger" role="alert">
      <h2><%= pluralize(@album.errors.count, "error") %>
        prohibited this artist from being saved:</h2>

      <ul>
      <% @album.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
</body>
