<h3><%= @album.title %></h3>

<h4><%= link_to @album.artist.name, artist_path(@album.artist) %></h4>

<table class="table table-striped">
  <% @album.songs.each do |song| %>
    <tr>
      <td><%= link_to song.title, song_path(song) %></td>
    </tr>
  <% end %>
</table>

<p>
<button id="delete-artist" type="button" class="btn btn-default artist-back-button">
  <%= link_to 'Back', :back, class: 'artist-buttons-text-color' %>
</button>
<button id="delete-artist" type="button" class="btn btn-danger">
  <%= link_to 'Delete', album_path(@album), class: 'artist-buttons-text-color',
          method: :delete,
          data: { confirm: 'Are you sure?' } %>
</button>
</p>
