<!DOCTYPE html>
<html>
<head>
  <title>Music App</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div id="navbar-style" class="container-fluid gradient">
    <nav class="row">
      <div class="navbar-header col-md-8 col-md-offset-2">
        <a id="navbar-font" class="navbar-brand" href="/"><%= image_tag "musicapp.png" %></a>
      </div>
      <div class="row btn-group" role="group" aria-label="...">
        <a href="/artists" class="btn btn-default">Artists</a>
        <a href="/songs" class="btn btn-default">Songs</a>
      </div>
    </nav>
  </div>
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-8 col-md-offset-2">
        <%= yield %>
      </div>
    </div>
  </div>
  <footer>
  </footer>
</body>
</html>
