<!DOCTYPE html>
<html>
<head>
  <title>Music App</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div id="navbar-style" class="container-fluid gradient">
    <div class="container">
      <nav>
        <div class="col-md-4">
          <a class="navbar-brand" href="/"><%= image_tag "musicapp.png" %></a>
        </div>
        <div class="col-md-8">
          <div class="btn-group pull-right" role="group" aria-label="...">
            <a href="/artists" class="btn btn-default gradient button-text-color button-text-color:hover">Artists</a>
            <a href="/albums" class="btn btn-default gradient button-text-color">Albums</a>
            <a href="/songs" class="btn btn-default gradient button-text-color">Songs</a>
          </div>
        </div>
      </nav>
    </div>
  </div>
  <div class="container-fluid col-md-8 col-md-offset-2 space-below-text">
    <%= yield %>
  </div>
  <footer class="container-fluid col-lg-12">
     <%= current_user %>
  </footer>
</body>
</html>
